body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #333, #fff);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: #fff;
}

#foto {
    max-width: 100%;
    border-radius: 50%;
}

h2, p, h3 {
    color: #333;
}

p {
    margin-bottom: 15px;
}

#descricao {
    max-width: 600px; /* Adjust the value as per your preference */
    margin: 0 auto; /* Center the description within the container */
}

#btnVoltar{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
}